.header {
  position: relative;
  
  width: 100%;
  height: 130px;
  background-repeat: no-repeat;
  background-size: cover;

  @media #{$BREAKPOINT-TABLET} {
    height: 260px;
  }

  &__logo {
    width: 80%;

    position: absolute;
    top: 14px;  
    left: 0;
    right: 0;
    margin: 0 auto;

    @media #{$BREAKPOINT-DESK} {
      width: 50%;
    }
  }
}